/* for setting the background image */

body, html {
  height: 100%;
}

body{
  /* background-image: url("/static/images/about1.jpg"); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

/* for setting the style of the heading in jumbotron */
.display-4
{
  font-family: 'IM Fell French Canon', serif;
  text-align: center;
  font-size: x-large;
  font-style: italic;
}

/* for setting font style for navbar text */
.navbar-nav a{
  font-family: 'Cinzel', serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
